<nav class="navbar navbar-expand-lg navbar-light bg-light"> <!--bg-light is optional-->
  <div class= ' collapse  navbar-collapse'> <!--makes no difference if we remove this div-->

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treasure' %}">Treasure</a>
        </li> 
      </ul>
    </div>
    <!-- Navbar-collapse is dividing the nav to equal areas -->
  
    <div class = "collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav ">
        {% if user.is_authenticated%}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>
        {%else%}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        {%endif%}
      </ul>
    </div>

    
  </div> 
</nav>